---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
// import About from "../components/About.astro";
// import Skills from "../components/Skills.astro";
// import Projects from "../components/Projects.astro";
// import DevTools from "../components/DevTools.astro";
---

<Layout title="Armando Rios | Frontend Developer">
  <div class="flex flex-col gap-16 pt-20">
    <Hero />
    <!-- <Projects /> -->
    <!-- <Skills /> -->
    <!-- <About /> -->
    <!-- <DevTools /> -->
  </div>
</Layout>
