<div>
    <div class="flex gap-2 text-primary-dark items-end">
        <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="30" height="30" stroke-width="2">
          <path d="M5 7l5 5l-5 5"></path>
          <path d="M13 17l6 0"></path>
        </svg>
        <h1 class="text-3xl font-semibold text-end">Armando Rios</h1>
    </div>
    <p class="text-lg text-gray-400 mt-2 font-mono">$ whoami | <span>Full Stack Developer</span></p>
</div>
