---
import { Icon } from "astro-icon/components";
---

<header class="flex items-center justify-between border-b px-4 py-4">
  <div class="flex text-2xl gap-2">
    <Icon name="terminal" class="text-mauve text-4xl" />
    <div class="flex text-3xl font-semibold"><h1>Armando Rios</h1></div>
  </div>
  <nav class="hidden lg:flex gap-6 text-md font-semibold items-center">
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Packages</a>
    <a href="">Contact</a>
    <button class="bg-surface1 px-5 py-2 rounded-lg">{"<>"} Terminal</button>
  </nav>
</header>
