---
import { Icon } from "astro-icon/components";
---

<header class="flex items-center justify-between border-b px-4 py-4">
  <div class="flex text-2xl gap-2">
    <Icon name="terminal" class="text-mauve text-4xl" />
    <div class="flex">~/<h1>armando rios</h1></div>
  </div>
  <nav class="flex gap-6 text-lg items-center">
    <a href="">{"{ about }"}</a>
    <a href="">{"{ projects }"}</a>
    <a href="">{"{ packages }"}</a>
    <a href="">{"{ contact }"}</a>
    <button class="bg-surface1 px-5 py-2 rounded-lg">{"<>"} Terminal</button>
  </nav>
</header>
