---
import { Icon } from "astro-icon/components";
---

<section class="flex flex-col gap-8 mt-16 mb-16 md:mt-48 md:mb-32 text-balance">
  <h2 class="font-semibold text-5xl">Hey, soy Armando Rios</h2>
  <h3 class="text-subtext text-xl">
    Frontend Developer con experinecia en pryectos web, enfocado en
    funcionalidad y rendimiento. Actualemente en el camino hacia el fullstack,
    comprometido con la mejora constante, la creacion de herramientas para
    optimizar el desarrollo y la aplicacion de buenas practicas de codigo
  </h3>
  <div class="flex gap-6 text-3xl text-subtext">
    <a href=""
      ><Icon name="github" class="text-mauve hover:scale-125 duration-300" /></a
    >
    <a href=""
      ><Icon name="discord" class="text-blue hover:scale-125 duration-300" /></a
    >
    <a href=""
      ><Icon
        name="linkeding"
        class="text-sky hover:scale-125 duration-300"
      /></a
    >
    <a href=""
      ><Icon name="x" class="text-green hover:scale-125 duration-300" /></a
    >
  </div>
  <div class="flex gap-8 font-semibold text-lg">
    <button class="px-4 py-2 rounded-lg bg-sky text-black">Descargar CV</button>
    <button class="px-4 py-2 rounded-lg border border-subtext"
      >Ver Proyectos</button
    >
  </div>
</section>
