---
import { Icon } from "astro-icon/components";
---

<section class="flex flex-col gap-8 lg:mt-24 my-10">
  <h2 class="font-semibold text-5xl">Hey, soy Armando Rios</h2>
  <h3 class="text-subtext text-xl">
    <span class="hover:scale-110 hover:text-white">Frontend Developer</span> con
    experiencia en proyectos web, centrado en funcionalidad y rendimiento. En el
    camino hacia Full Stack, con un enfoque en la mejora constante y el uso de buenas
    prácticas de código.
  </h3>
  <div class="flex gap-6 text-3xl text-subtext">
    <a href=""
      ><Icon name="github" class="text-mauve hover:scale-125 duration-300" /></a
    >
    <a href=""
      ><Icon name="discord" class="text-blue hover:scale-125 duration-300" /></a
    >
    <a href=""
      ><Icon
        name="linkeding"
        class="text-sky hover:scale-125 duration-300"
      /></a
    >
    <a href=""
      ><Icon name="x" class="text-green hover:scale-125 duration-300" /></a
    >
  </div>
</section>
