---
const currentPath = Astro.url.pathname
function hover (page) {
    return currentPath === page ? "bg-primary-dark text-black" : "bg-none"
}
---

<nav class="flex text-lg font-medium gap-4 border-b p-2 items-center">
    <a class=`px-2 rounded-sm flex items-center gap-2 ${hover("/")}` href="/"><svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
  <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
</svg>About</a>
    <a class=`px-2 rounded-sm flex items-center gap-2 ${hover("/projects")}` href="/projects"><svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
  <path d="M7 4a2 2 0 0 0 -2 2v3a2 3 0 0 1 -2 3a2 3 0 0 1 2 3v3a2 2 0 0 0 2 2"></path>
  <path d="M17 4a2 2 0 0 1 2 2v3a2 3 0 0 0 2 3a2 3 0 0 0 -2 3v3a2 2 0 0 1 -2 2"></path>
</svg>Projects</a>
<a class=`px-2 rounded-sm flex items-center gap-2 ${hover("/contact")}` href="/contact"><svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
  <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
  <path d="M3 7l9 6l9 -6"></path>
</svg>Contact</a>
    <a class=`px-2 rounded-sm flex items-center gap-2 ${hover("/packages")}` href="/packages"><svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
  <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"></path>
  <path d="M12 12l8 -4.5"></path>
  <path d="M12 12l0 9"></path>
  <path d="M12 12l-8 -4.5"></path>
</svg>Packages</a>
</nav>
