---
import IconTitle from "./IconTitle.astro";
import ProjectCard from "./ProjectCard.astro";
---

<section class="flex flex-col gap-8" id="projects">
  <IconTitle iconName="project" iconColor="text-sapphire" title="Projects" />
  <div class="flex gap-16 flex-wrap">
    <ProjectCard
      color="blue"
      title="SVGL - A beautiful library with SVG logos"
      desc="Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS."
      tecno={["react", "tailwind", "node"]}
      links={["github", "link"]}
      image="https://porfolio.dev/projects/svgl.webp"
    />
    <ProjectCard
      color="peach"
      title="AdventJS - Retos de programación con JavaScript y TypeScript"
      desc="Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS."
      tecno={["react", "tailwind", "node"]}
      links={["github", "link"]}
      image="https://porfolio.dev/projects/adventjs.webp"
    />
  </div>
</section>
