---
import { Icon } from "astro-icon/components";
import IconTitle from "./IconTitle.astro";
import SkillsArea from "./SkillsArea.astro";
const iconDiv = "flex gap-4 flex-wrap";
const skills = ["javascript", "html", "css", "astro", "react", "tailwind"];
const skills1 = ["node", "mongodb", "express", "graphql", "jwt"];
const skills2 = ["git", "gith", "linux", "neovim", "bash"];
const skills3 = ["rust", "lua", "typescript"];
---

<section class="flex flex-col gap-8 mb-28">
  <div>
    <IconTitle iconName="dev" iconColor="text-peach" title="Skills" />
  </div>
  <div class="flex gap-8 flex-wrap justify-start">
    <SkillsArea skills={skills} title="Frontend" />
    <SkillsArea skills={skills1} title="Backend" />
    <SkillsArea skills={skills2} title="Tools" />
    <SkillsArea skills={skills3} title="Learning" />
  </div>
</section>
