---
import { Icon } from "astro-icon/components";
import IconTitle from "./IconTitle.astro";
const iconDiv = "flex gap-4 ";
---

<section class="flex flex-col gap-4">
  <div>
    <IconTitle iconName="dev" iconColor="text-peach" title="Skills" />
  </div>
  <div class="flex">
    <div class="flex flex-col gap-4">
      <p class="text-2xl text-yellow">Languages</p>
      <div class={iconDiv}>
        <div
          class="flex text-3xl items-center gap-2 border border-surface1 bg-surface0/10 backdrop-blur-sm backdrop-brightness-150 p-2 w-16 h-16 rounded-lg justify-center"
        >
          <Icon name="astro" />
        </div>
        <div
          class="flex text-3xl items-center gap-2 border border-surface1 bg-surface0/10 backdrop-blur-sm backdrop-brightness-150 p-2 w-16 h-16 rounded-lg justify-center"
        >
          <Icon name="javascript" />
        </div>
        <div
          class="flex text-3xl items-center gap-2 border border-surface1 bg-surface0/10 backdrop-blur-sm backdrop-brightness-150 p-2 w-16 h-16 rounded-lg justify-center"
        >
          <Icon name="rust" />
        </div>
      </div>
    </div>
  </div>
</section>
