---
const {title} = Astro.props
---

<html lang="en">
	<head>
        		<!-- space mono  -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<!-- jetbrains mono  -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-[90%] lg:w-[80%] xl:w-[60%] m-auto">
        <slot/>
	</body>
</html>


<style is:global>
    * {
        color-scheme: dark;
        font-family: 'space mono';
        /* font-family: 'JetBrains Mono', monospace; */
    }
</style>